In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
df=pd.read_csv("House Prices.csv")

In [11]:
df.head()

,ID,Date,Price,Bedrooms,Bathrooms,Sqft_living,Sqft_lot,Floors,Waterfront,View,...,Grade,Sqft_above,Sqft_basement,Yr_built,Yr_renovated,zipcode,Lat,Long,Sqft_living15,Sqft_lot15
0,1,20140916T000000,280000.0,6,3.00,2400,9373,2.0,0,0,...,7,2400,0,1991,0,98002,47.3262,-122.214,2060,7316
1,2,20150422T000000,300000.0,6,3.00,2400,9373,2.0,0,0,...,7,2400,0,1991,0,98002,47.3262,-122.214,2060,7316
2,3,20140508T000000,647500.0,4,1.75,2060,26036,1.0,0,0,...,8,1160,900,1947,0,98166,47.4444,-122.351,2590,21891
3,4,20140811T000000,400000.0,3,1.00,1460,43000,1.0,0,0,...,7,1460,0,1952,0,98166,47.4434,-122.347,2250,20023
4,5,20150401T000000,235000.0,3,1.00,1430,7599,1.5,0,0,...,6,1010,420,1930,0,98168,47.4783,-122.265,1290,10320

In [12]:
catogorical = [i for i in df.columns if df[i].dtype=='O']
catogorical

['Date']

In [13]:
df.drop(['Date'],axis=1,inplace=True)

In [14]:
df.columns

Index(['ID', 'Price', 'Bedrooms', 'Bathrooms', 'Sqft_living', 'Sqft_lot',
       'Floors', 'Waterfront', 'View', 'Condition', 'Grade', 'Sqft_above',
       'Sqft_basement', 'Yr_built', 'Yr_renovated', 'zipcode', 'Lat', 'Long',
       'Sqft_living15', 'Sqft_lot15'],
      dtype='object')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             21613 non-null  int64
 1   Price          21613 non-null  float64
 2   Bedrooms       21613 non-null  int64
 3   Bathrooms      21613 non-null  float64
 4   Sqft_living    21613 non-null  int64
 5   Sqft_lot       21613 non-null  int64
 6   Floors         21613 non-null  float64
 7   Waterfront     21613 non-null  int64
 8   View           21613 non-null  int64
 9   Condition      21613 non-null  int64
 10  Grade          21613 non-null  int64
 11  Sqft_above     21613 non-null  int64
 12  Sqft_basement  21613 non-null  int64
 13  Yr_built       21613 non-null  int64
 14  Yr_renovated   21613 non-null  int64
 15  zipcode        21613 non-null  int64
 16  Lat            21613 non-null  float64
 17  Long           21613 non-null  float64
 18  Sqft_living15  21613 non-null  int64
 19  Sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15)
memory usage: 3.3 MB

In [16]:
df.isnull().sum()

ID               0
Price            0
Bedrooms         0
Bathrooms        0
Sqft_living      0
Sqft_lot         0
Floors           0
Waterfront       0
View             0
Condition        0
Grade            0
Sqft_above       0
Sqft_basement    0
Yr_built         0
Yr_renovated     0
zipcode          0
Lat              0
Long             0
Sqft_living15    0
Sqft_lot15       0
dtype: int64

In [ ]:
sns.pairplot(df)

In [ ]:
df.describe()

In [ ]:
df.shape

In [ ]:
df.isnull()

In [ ]:
df.columns

In [ ]:
y=df['Price']
x=df.drop(columns=['Price'])

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=200)

In [ ]:
df.shape

In [ ]:
x.shape

In [ ]:
y.shape

In [ ]:
from sklearn.linear_model import LinearRegression
model1=LinearRegression()
model1.fit(x_train,y_train)

In [ ]:
pred=model1.predict(x_test)
pred

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
r2_score(pred,y_test)

In [ ]:
from sklearn.tree import DecisionTreeRegressor
dtree = DecisionTreeRegressor()
dtree.fit(x_train , y_train)
pred = dtree.predict(x_test)
print(r2_score(pred , y_test))